html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: #F8F8F8;
    border-radius: 16px;
    width: 624px;
    padding: 32px;
    margin: 16px;
}

.card {
    display: flex;
    align-items: flex-start;
 
}

.card__picture {
    margin-right: 32px;
}

.card__info {
    margin-bottom: 24px;

}

.card__title {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.card__position {
    font-size: 18px;
    font-style: italic;
    color: #545454;
    margin: 0;

}

.card__description {
    font-size: 16px;
    line-height: 22px;

}

.card__description--margin {
    margin-bottom: 22px;
}

.card__link {
    color: #E20613;
    text-decoration: none;

}

.special {
    color: #ED6D05;
    font-weight: normal;
}